html{
  background-color: #282828;
  font-family: 'Outfit', sans-serif 
}

header{
  position: fixed;
  display:flex;
  justify-content:space-between;
  align-content: center;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: #1d2021;
  width: 100%;
  font-size: 15px
}

.navigation{
  display: flex;
  align-content:center;
  gap: 20px;
  padding-left: 10%
}

.social{
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content:flex-end;
  padding-right: 10% 
}

a{
  text-decoration: none;
  color: #ebdbb2;
  transition: color 0.5s;

}

a:hover{
  color: #458588;
}

h2{
  color: #458588;
}

h3{
  color: #ebdbb2;
} 

p{
  color: #ebdbb2
}

.fa-brands{
  transition: color 0.5s ;
}

.fa-linkedin:hover{
  color: #0a66c2
}

.fa-itch-io:hover{
  color: #db2c48
}

main{
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
}

.section{
  display: grid;
  margin-bottom: 25px;
  margin-top: 25px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center
}

.project{
  background-color:#32302f;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #3c3836;
  transition: border 0.5s
}

.project-image{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 150px;
}

.project:hover{
  border: 1px solid #458588;
}
